/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Poppins;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 59%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 56%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 65%;
    }
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Source Sans Pro", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

.epic-button {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.epic-button.tour-page {
    margin-top: 0px;
    margin-right: 10%;
}

.epic-button-oval.top {
    position: static;
    margin-left: -257px;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.epic-button-label {
    position: static;
    font-family: Ambit, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.epic-button-arrow {
    margin-left: 12px;
}

.epic-button-content {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.heading-primary {
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 120px;
    background-image: linear-gradient(#e3c996ff, #ad6e4bff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1000px 0;
    transition: background-position 1s, text-shadow 1s;
    transition-delay: 0.6s, 0s;
}
.heading-primary:hover {
    transition: background-position 0.7s, text-shadow 0.3s;
    transition-delay: 0s, 0.4s;
    background-position: 0 0;
    text-shadow: 0 0 7px #ad6e4bff, 0 0 17px #ad6e4bff, 0 0 3px #ad6e4bff,
        0 0 77px #ad6e4bff, 0 0 157px #ad6e4bff;
}

@media only screen and (max-width: 37.5em) {
    .heading-primary {
        font-size: 4.5rem;
    }
}

.heading-sec__mb-bg {
    margin-bottom: 11rem;
}

@media only screen and (max-width: 56.25em) {
    .heading-sec__mb-bg {
        margin-bottom: 8rem;
    }
}

.heading-sec__mb-med {
    margin-bottom: 9rem;
}

@media only screen and (max-width: 56.25em) {
    .heading-sec__mb-med {
        margin-bottom: 8rem;
    }
}

.heading-sec__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #2983fe;
}

.heading-sec__main--lt {
    color: #fff;
}

.heading-sec__main--lt::after {
    content: "";
    background: #fff !important;
}

.heading-sec__main::after {
    content: "";
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #0062b9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

@media only screen and (max-width: 37.5em) {
    .heading-sec__main::after {
        top: calc(100% + 1.2rem);
    }
}

.heading-sec__sub {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    max-width: 103rem;
    margin: auto;
    line-height: 1.6;
}

.tentang-bidang {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2.0991rem;
    font-weight: 500;
    max-width: 90rem;
    margin: auto;
    line-height: 1.6;
}

@media only screen and (max-width: 37.5em) {
    .heading-sec__sub {
        font-size: 1.8rem;
    }
}

.heading-sec__sub--lt {
    color: #eee;
}

.heading-sm {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.btn {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
}

.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.btn--theme {
    background: #7843e9;
    color: #fff;
}

.btn--theme-inv {
    color: #7843e9;
    background: #fff;
    border: 2px solid #7843e9;
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px);
}

.sec-pad {
    padding: 12rem 0;
    background-color: #23283d;
}

@media only screen and (max-width: 56.25em) {
    .sec-pad {
        padding: 8rem 0;
    }
}

.text-primary {
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

@media only screen and (max-width: 37.5em) {
    .text-primary {
        font-size: 2rem;
    }
}

.d-none {
    display: none;
}

#clients {
    padding: 30px 0;
    background-color: #18392b;
}

#clients img {
    max-width: 90%;
    opacity: 0.8;
    transition: 0.3s;
    padding: 15px 15px;
    align-self: center;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 10px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-header h3 {
    font-size: 28px;
    color: #fcfeff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

#clients .owl-dot.active {
    background-color: #18d26e;
}

.home-hero {
    color: #fff;
    background-image: url(https://uploads-ssl.webflow.com/60d97739f23901a110ab17de/60d9789af09a5183a5bc66f8_hero-slide-background.jpg);
    /* background: linear-gradient(to right, #0d1116, #0d1116),
        url(https://dopefolio.netlify.app/assets/svg/common-bg.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.side_hero_line {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    width: 2px;
    height: 100vh;
    border-left: 2px solid hsla(0, 0%, 100%, 0.4);
}

.side_hero_line.left {
    left: 20px;
    top: 0%;
    right: auto;
    bottom: 0%;
}

.side_hero_upper_line {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
}

@media only screen and (max-width: 37.5em) {
    .home-hero {
        height: unset;
        min-height: unset;
        /* background: linear-gradient(to right, #0d1116e3, #0d1116e3), url(https://dopefolio.netlify.app/assets/svg/common-bg.svg); */
    }
}

.home-hero__socials {
    position: absolute;
    top: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    transform: translateY(-50%);
}

@media only screen and (max-width: 56.25em) {
    .home-hero__socials {
        display: none;
    }
}

.home-hero__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 37.5em) {
    .home-hero__mouse-scroll-cont {
        display: none;
    }
}

.home-hero__social {
    width: 5rem;
}

.home-hero__social-icon-link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid #eee;
    transition: background 0.3s;
}

.home-hero__social-icon-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.home-hero__social-icon-link--bd-none {
    border-bottom: 0;
}

.home-hero__social-icon {
    width: 100%;
}

.home-hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}

@media only screen and (max-width: 37.5em) {
    .home-hero__content {
        padding: 19rem 0 13rem 0;
        margin: auto;
    }
}

.home-hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.home-hero__cta {
    margin-top: 5rem;
    text-align: center;
}

.about {
    background: rgb(6 82 49);
    /* background-image: url("https://images.alphacoders.com/708/708947.jpg"); */
}

.about__content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 10rem;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 56.25em) {
    .about__content {
        grid-template-columns: 1fr;
        grid-gap: 8rem;
    }
}

.about__content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: #2983fe;
}

@media only screen and (max-width: 37.5em) {
    .about__content-title {
        font-size: 2.4rem;
    }
}

.about__content-details-para {
    font-size: 1.8rem;
    color: #fff;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.about__content-details-para--hl {
    font-weight: 700;
    margin: 0 3px;
}

.about__content-details-para:last-child {
    margin-bottom: 4rem;
}

.projects__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;
}

@media only screen and (max-width: 56.25em) {
    .projects__row {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .projects__row {
        text-align: center;
    }
}

.projects__row:last-child {
    margin-bottom: 0;
}

.projects__row-img-cont {
    overflow: hidden;
}

.projects__row-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.projects__row-content {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 56.25em) {
    .projects__row-content {
        align-items: center;
        order: 1;
    }
}

.projects__row-content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: #00a3ff;
}

@media only screen and (max-width: 37.5em) {
    .projects__row-content-title {
        font-size: 2.4rem;
    }
}

.projects__row-content-desc {
    font-size: 1.8rem;
    color: white;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
    .projects__row-content-desc {
        font-size: 1.7rem;
    }
}

.contact {
    background: linear-gradient(
            to right,
            rgba(0, 98, 185, 0.8),
            rgba(0, 98, 185, 0.8)
        ),
        url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
}

.contact__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

@media only screen and (max-width: 37.5em) {
    .contact__form-container {
        padding: 3rem;
    }
}

.contact__form-field {
    margin-bottom: 4rem;
}

@media only screen and (max-width: 37.5em) {
    .contact__form-field {
        margin-bottom: 3rem;
    }
}

.contact__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    /* Code for Modern Browsers */
    /* Code for WebKit, Blink, Edge */
    /* Code for Internet Explorer 10-11 */
    /* Code for Microsoft Edge */
    /* Code for Mozilla Firefox 4 to 18 */
    /* Code for Mozilla Firefox 19+ */
}

.contact__form-input::placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input::-webkit-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input:-ms-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input::-ms-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input:-moz-placeholder {
    opacity: 1;
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input::-moz-placeholder {
    opacity: 1;
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__btn {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
    .contact__btn {
        width: 100%;
    }
}

.project-cs-hero {
    color: #fff;
    background: linear-gradient(
            to right,
            rgba(0, 98, 185, 0.8),
            rgba(0, 98, 185, 0.8)
        ),
        url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media only screen and (max-width: 37.5em) {
    .project-cs-hero {
        height: unset;
        min-height: unset;
    }
}

.project-cs-hero__content {
    padding: 25rem 0 17rem 0;
    max-width: 90rem;
    width: 92%;
    margin: auto;
}

@media only screen and (max-width: 37.5em) {
    .project-cs-hero__content {
        padding: 19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0, 0);
    }
}

.project-cs-hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.project-cs-hero__cta {
    margin-top: 5rem;
    text-align: center;
}

.project-details__content {
    padding: 8rem 0;
    max-width: 90rem;
    margin: auto;
}

.project-details__content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
    .project-details__content-title {
        font-size: 2.4rem;
    }
}

.project-details__showcase-img-cont {
    width: 100%;
    margin-bottom: 6rem;
}

.project-details__showcase-img {
    width: 100%;
}

.project-details__content-main {
    width: 100%;
    max-width: 70rem;
    margin: auto;
}

.project-details__desc {
    margin: 0 0 7rem 0;
}

.project-details__desc-para {
    font-size: 1.8rem;
    line-height: 1.7;
    color: grey;
    margin-bottom: 2rem;
}

.project-details__tools-used {
    margin: 0 0 7rem 0;
}

.project-details__tools-used-list {
    display: flex;
    flex-wrap: wrap;
}

.project-details__tools-used-item {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777;
}

.project-details__links {
    margin: 0 0;
}

.project-details__links-btn {
    margin-right: 2rem;
}

@media only screen and (max-width: 37.5em) {
    .project-details__links-btn {
        margin-right: 0;
        width: 70%;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.project-details__links-btn:last-child {
    margin: 0;
}

@media only screen and (max-width: 37.5em) {
    .project-details__links-btn:last-child {
        margin: 0;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    background-color: #111823;
}

@media only screen and (max-width: 56.25em) {
    .header__content {
        padding: 0 2rem;
        background-color: #111823;
    }
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.header__logo-container:hover {
    color: #fcfeff;
}

.header__logo-img-cont {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
}

@media only screen and (max-width: 56.25em) {
    .header__logo-img-cont {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem;
    }
}

.header__logo-img {
    height: 130%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#bhavana_text {
    width: 150px;
    margin: 0px 0px 0px -32px;
}

@media only screen and (max-width: 500px) {
    #bhavana_text {
        margin: 3px 0 0 -34px;
    }
}

.header__logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fceded;
}

.header__logo-sub:hover {
    color: #ff0000;
}

.header__links {
    display: flex;
}

@media only screen and (max-width: 37.5em) {
    .header__links {
        display: none;
    }
}

.header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #fceded;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color 0.3s;
}

.header__link:hover {
    color: #0062b9;
}

@media only screen and (max-width: 56.25em) {
    .header__link {
        padding: 3rem 1.8rem;
        font-size: 1.5rem;
    }
}

.header__main-ham-menu-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0;
}

@media only screen and (max-width: 37.5em) {
    .header__main-ham-menu-cont {
        display: block;
    }
}

.header__main-ham-menu {
    width: 100%;
}

.header__main-ham-menu-close {
    width: 100%;
}

.header__sm-menu {
    background: #212432;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.header__sm-menu--active {
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 37.5em) {
    .header__sm-menu--active {
        visibility: visible;
        opacity: 1;
        background-color: #212432;
    }
}

.header__sm-menu-link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s;
}

.header__sm-menu-link a:hover {
    color: #0062b9;
}

.header__sm-menu-link:first-child a {
    border-top: none;
}

.header__sm-menu-link-last {
    border-bottom: 0;
}

.main-footer {
    background: #000;
    color: #fff;
}

.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

@media only screen and (max-width: 56.25em) {
    .main-footer__upper {
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 37.5em) {
    .main-footer__upper {
        display: block;
    }
}

.main-footer__row-1 {
    order: 2;
}

@media only screen and (max-width: 56.25em) {
    .main-footer__row-1 {
        margin-bottom: 5rem;
    }
}

.main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
}

@media only screen and (max-width: 56.25em) {
    .main-footer__row-2 {
        width: 100%;
    }
}

.main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
}

.main-footer__social-cont {
    margin-top: 2rem;
}

.main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem;
}

.main-footer__icon--mr-none {
    margin-right: 0;
}

.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}

.main-footer__lower a {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px;
}

@media only screen and (max-width: 56.25em) {
    .main-footer__lower {
        padding: 3.5rem 0;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777;
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #eee;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

/* @media (max-width: 600px) {
    canvas {
        display: none;
    }
} */

.img-container {
    display: block;
    opacity: 0.875;
}

.img-container.h img {
    height: 100%;
}

.img-container.w img {
    width: 100%;
}

.copy {
    font-size: 1.75rem;
    color: #ccc;
    line-height: 1.7;
}

/* Membuat bagian copyright dan lain lain */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: #111823;
}

@media (max-width: 39.9375em) {
    .footer {
        flex-direction: column;
    }
}

.footer .brandname {
    opacity: 0.9;
}

.footer .brandname:hover {
    opacity: 1;
}

.footer .brandname a {
    font-size: 1.27rem;
    color: white;
}

.footer .brandname a:hover {
    color: #d10024;
    font-size: 1.27rem;
}

.footer .copy {
    text-align: center;
}

@media (max-width: 39.9375em) {
    .footer .copy {
        margin-bottom: 2rem;
    }
}

.footer .socials {
    display: flex;
    align-items: center;
}

.footer .socials .social {
    width: 3.75rem;
    transition: all 0.2s;
}

.footer .socials .social:not(:last-child) {
    margin-right: 1rem;
}

.footer .socials .social:hover {
    opacity: 0.9;
}

@media (max-width: 991px) {
    .u-countdown-1 {
        padding: 0 30px px;
    }
}

.u-countdown-1 {
    margin: 26px auto 0;
}

.u-countdown-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

/* Item 1 */

@media (max-width: 991px) {
    .u-countdown-item-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-countdown-item-1 {
    background-image: none;
    padding: 20px 30px;
}

/* item 2 */

@media (max-width: 991px) {
    .u-countdown-item-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-countdown-item-2 {
    background-image: none;
    padding: 20px 30px;
}

@media (max-width: 991px) {
    .u-countdown-item-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Item 3 */

.u-countdown-item-3 {
    background-image: none;
    padding: 20px 30px;
}

@media (max-width: 991px) {
    .u-countdown-item-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Item 4 */

.u-countdown-item-4 {
    background-image: none;
    padding: 20px 30px;
}

/* Item 5 */

@media (max-width: 991px) {
    .u-countdown-item-5 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-countdown-item-5 {
    background-image: none;
    padding: 20px 30px;
}

/* Item 6 */

@media (max-width: 991px) {
    .u-countdown-item-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-countdown-item-6 {
    background-image: none;
    padding: 20px 30px;
}

.u-palette-3-base {
    color: #111111;
    background-color: #fdd911;
}

.u-countdown {
    display: table;
}

.u-countdown-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

.u-countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-countdown-number {
    display: flex;
    justify-content: center;
    width: 1ch;
}

.u-countdown-number:before {
    content: "0";
    visibility: hidden;
    width: 0;
}

.u-countdown-number .start-val,
.u-countdown-number .old-val,
.u-countdown-number .new-val {
    width: 1ch;
}

.u-countdown-number .start-val {
    text-align: center;
}

.u-countdown-number .counter-wrapper {
    position: relative;
    overflow: hidden;
    width: 1ch;
}

.u-countdown-number .counter-html {
    position: absolute;
    width: 1ch;
}

.u-countdown-counter {
    display: flex;
    white-space: nowrap;
}

.u-countdown-message {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
}

.u-countdown-message p {
    text-align: center;
    margin: auto !important;
}

.u-spacing-20.u-countdown-item .u-countdown-counter,
.u-text.u-spacing-20 li {
    margin-bottom: 20px;
}

.u-text.u-indent-20,
.u-text.u-indent-20 ul,
.u-text.u-indent-20 ol {
    padding-left: 40px;
}

.u-form-vertical .u-label-left .u-spacing-20.u-label,
.u-rating-icons.u-spacing-20 > .u-form-rating-item {
    margin-right: 20px;
}

.u-spacing-20.u-countdown-counter > div + div,
.u-spacing-20.u-price-wrapper > div + div,
.u-spacing-20.u-language-layout-icons .u-language-url + .u-language-url,
.u-spacing-20 .u-social-url + .u-social-url {
    margin-left: 20px;
}

.u-spacing-20.u-language-layout-dropdown .u-language-url + .u-language-url {
    margin-top: 20px;
}

.u-spacing-20.u-countdown-wrapper > div:not(.u-hidden) + div {
    margin-left: 10px;
}

.u-spacing-20.u-search-icon,
.u-spacing-20.u-gallery-nav,
.u-spacing-20.u-carousel-control {
    padding: 20px;
}

blockquote.u-text.u-indent-20 {
    padding-left: 20px;
}

.gambaran {
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
}

@media (min-width: 990px) {
    .gambaran:hover {
        transform: translateY(-3px);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        -webkit-transition: none;
        transition: none;
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.modal-dialog-scrollable {
    height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
    max-height: 100%;
    overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #2a3042;
    background-clip: padding-box;
    border: 1px solid #32394e;
    border-radius: 0.4rem;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #32394e;
    border-top-left-radius: calc(0.4rem - 1px);
    border-top-right-radius: calc(0.4rem - 1px);
}

.modal-tengah {
    display: flex;
    flex-direction: column;
}

.btn-batas {
    margin-top: 10px;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    padding-right: 2rem;
    border-top: 1px solid #32394e;
    border-bottom-right-radius: calc(0.4rem - 1px);
    border-bottom-left-radius: calc(0.4rem - 1px);
}

.modal-footer > * {
    margin: 0.25rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    .modal-dialog-scrollable {
        height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-fullscreen .modal-header {
    border-radius: 0;
}

.modal-fullscreen .modal-body {
    overflow-y: auto;
}

.modal-fullscreen .modal-footer {
    border-radius: 0;
}

@media (max-width: 575.98px) {
    .modal-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-sm-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-sm-down .modal-header {
        border-radius: 0;
    }
    .modal-fullscreen-sm-down .modal-body {
        overflow-y: auto;
    }
    .modal-fullscreen-sm-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width: 767.98px) {
    .modal-fullscreen-md-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-md-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-md-down .modal-header {
        border-radius: 0;
    }
    .modal-fullscreen-md-down .modal-body {
        overflow-y: auto;
    }
    .modal-fullscreen-md-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width: 991.98px) {
    .modal-fullscreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-lg-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-lg-down .modal-header {
        border-radius: 0;
    }
    .modal-fullscreen-lg-down .modal-body {
        overflow-y: auto;
    }
    .modal-fullscreen-lg-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width: 1199.98px) {
    .modal-fullscreen-xl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-xl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-xl-down .modal-header {
        border-radius: 0;
    }
    .modal-fullscreen-xl-down .modal-body {
        overflow-y: auto;
    }
    .modal-fullscreen-xl-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width: 1399.98px) {
    .modal-fullscreen-xxl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-xxl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-xxl-down .modal-header {
        border-radius: 0;
    }
    .modal-fullscreen-xxl-down .modal-body {
        overflow-y: auto;
    }
    .modal-fullscreen-xxl-down .modal-footer {
        border-radius: 0;
    }
}

.col-md-3-fix {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        -webkit-transition: none;
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
}

.fs-5 {
    font-size: 1.01563rem !important;
}

.btn-n {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #a6b0cf;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.47rem 0.75rem;
    font-size: 0.8125rem;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        transition: none;
    }
}

.btn:hover {
    color: #a6b0cf;
    text-decoration: none;
}

.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(85, 110, 230, 0.25);
    box-shadow: 0 0 0 0.15rem rgba(85, 110, 230, 0.25);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
}

.btn-primary {
    color: #fff;
    background-color: #3595f6;
    box-shadow: 0px 5px 5px #1d5184;
    border-color: #3595f6;
    font-size: 12px;
    padding: 0.75rem 1rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3595f6;
    border-color: #3595f6;
}

.btn-check:hover + .btn-primary,
.btn-primary:hover {
    color: #fff;
    background-color: #3595f6;
    border-color: #3595f6;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(111, 132, 234, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(111, 132, 234, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3595f4;
    border-color: #3595f6;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(111, 132, 234, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(111, 132, 234, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}

.btn-secondary {
    color: #000;
    background-color: #c3cbe4;
    box-shadow: 0px 5px 5px #696f80;
    border-color: #c3cbe4;
}

.btn-secondary:hover {
    color: #000;
    background-color: #ccd3e8;
    border-color: #c9d0e7;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
    color: #000;
    background-color: #ccd3e8;
    border-color: #c9d0e7;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(166, 173, 194, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(166, 173, 194, 0.5);
}

.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    color: #000;
    background-color: #cfd5e9;
    border-color: #c9d0e7;
}

.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(166, 173, 194, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(166, 173, 194, 0.5);
}

.btn-secondary:disabled,
.btn-secondary.disabled {
    color: #000;
    background-color: #c3cbe4;
    border-color: #c3cbe4;
}

.btn-success {
    color: #fff;
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    border-color: #2ee61e;
}

.btn-success:hover {
    color: #fff;
    background-color: #2ee59d;
    border-color: #2ee61e;
}

.btn-check:focus + .btn-success,
.btn-success:focus {
    color: #fff;
    background-color: #2ee59d;
    border-color: #2ee61e;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(82, 204, 160, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(82, 204, 160, 0.5);
}

.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #2ee592;
    border-color: #2ee61e;
}

.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(82, 204, 160, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(82, 204, 160, 0.5);
}

.btn-success:disabled,
.btn-success.disabled {
    color: #fff;
    background-color: #2ee61e;
    border-color: #2ee61e;
}

.btn-info {
    color: #fff;
    background-color: #50a5f1;
    border-color: #50a5f1;
}

.btn-info:hover {
    color: #fff;
    background-color: #448ccd;
    border-color: #4084c1;
}

.btn-check:focus + .btn-info,
.btn-info:focus {
    color: #fff;
    background-color: #448ccd;
    border-color: #4084c1;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(106, 179, 243, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(106, 179, 243, 0.5);
}

.btn-check:checked + .btn-info,
.btn-check:active + .btn-info,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4084c1;
    border-color: #3c7cb5;
}

.btn-check:checked + .btn-info:focus,
.btn-check:active + .btn-info:focus,
.btn-info:active:focus,
.btn-info.active:focus,
.show > .btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(106, 179, 243, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(106, 179, 243, 0.5);
}

.btn-info:disabled,
.btn-info.disabled {
    color: #fff;
    background-color: #50a5f1;
    border-color: #50a5f1;
}

.btn-warning {
    color: #fff;
    background-color: #f1b44c;
    border-color: #f1b44c;
}

.btn-warning:hover {
    color: #fff;
    background-color: #cd9941;
    border-color: #c1903d;
}

.btn-check:focus + .btn-warning,
.btn-warning:focus {
    color: #fff;
    background-color: #cd9941;
    border-color: #c1903d;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(243, 191, 103, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(243, 191, 103, 0.5);
}

.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #c1903d;
    border-color: #b58739;
}

.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(243, 191, 103, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(243, 191, 103, 0.5);
}

.btn-warning:disabled,
.btn-warning.disabled {
    color: #fff;
    background-color: #f1b44c;
    border-color: #f1b44c;
}

.btn-danger {
    color: #fff;
    background-color: #f46a6a;
    border-color: #f46a6a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #cf5a5a;
    border-color: #c35555;
}

.btn-check:focus + .btn-danger,
.btn-danger:focus {
    color: #fff;
    background-color: #cf5a5a;
    border-color: #c35555;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(246, 128, 128, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(246, 128, 128, 0.5);
}

.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c35555;
    border-color: #b75050;
}

.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(246, 128, 128, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(246, 128, 128, 0.5);
}

.btn-danger:disabled,
.btn-danger.disabled {
    color: #fff;
    background-color: #f46a6a;
    border-color: #f46a6a;
}

.btn-pink {
    color: #fff;
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.btn-pink:hover {
    color: #fff;
    background-color: #c53577;
    border-color: #ba3270;
}

.btn-check:focus + .btn-pink,
.btn-pink:focus {
    color: #fff;
    background-color: #c53577;
    border-color: #ba3270;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(235, 91, 157, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(235, 91, 157, 0.5);
}

.btn-check:checked + .btn-pink,
.btn-check:active + .btn-pink,
.btn-pink:active,
.btn-pink.active,
.show > .btn-pink.dropdown-toggle {
    color: #fff;
    background-color: #ba3270;
    border-color: #ae2f69;
}

.btn-check:checked + .btn-pink:focus,
.btn-check:active + .btn-pink:focus,
.btn-pink:active:focus,
.btn-pink.active:focus,
.show > .btn-pink.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(235, 91, 157, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(235, 91, 157, 0.5);
}

.btn-pink:disabled,
.btn-pink.disabled {
    color: #fff;
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.btn-light {
    color: #fff;
    background-color: #32394e;
    border-color: #32394e;
}

.btn-light:hover {
    color: #fff;
    background-color: #2b3042;
    border-color: #282e3e;
}

.btn-check:focus + .btn-light,
.btn-light:focus {
    color: #fff;
    background-color: #2b3042;
    border-color: #282e3e;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(81, 87, 105, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(81, 87, 105, 0.5);
}

.btn-check:checked + .btn-light,
.btn-check:active + .btn-light,
.btn-light:active,
.btn-light.active,
.show > .btn-light.dropdown-toggle {
    color: #fff;
    background-color: #282e3e;
    border-color: #262b3b;
}

.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(81, 87, 105, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(81, 87, 105, 0.5);
}

.btn-light:disabled,
.btn-light.disabled {
    color: #fff;
    background-color: #32394e;
    border-color: #32394e;
}

.btn-dark {
    color: #000;
    background-color: #eff2f7;
    border-color: #eff2f7;
}

.btn-dark:hover {
    color: #000;
    background-color: #f1f4f8;
    border-color: #f1f3f8;
}

.btn-check:focus + .btn-dark,
.btn-dark:focus {
    color: #000;
    background-color: #f1f4f8;
    border-color: #f1f3f8;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(203, 206, 210, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(203, 206, 210, 0.5);
}

.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark,
.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
    color: #000;
    background-color: #f2f5f9;
    border-color: #f1f3f8;
}

.btn-check:checked + .btn-dark:focus,
.btn-check:active + .btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(203, 206, 210, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(203, 206, 210, 0.5);
}

.btn-dark:disabled,
.btn-dark.disabled {
    color: #000;
    background-color: #eff2f7;
    border-color: #eff2f7;
}

.btn-outline-primary {
    color: #556ee6;
    border-color: #556ee6;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(85, 110, 230, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(85, 110, 230, 0.5);
}

.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}

.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(85, 110, 230, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(85, 110, 230, 0.5);
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
    color: #556ee6;
    background-color: transparent;
}

.btn-outline-secondary {
    color: #c3cbe4;
    border-color: #c3cbe4;
}

.btn-outline-secondary:hover {
    color: #000;
    background-color: #c3cbe4;
    border-color: #c3cbe4;
}

.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(195, 203, 228, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(195, 203, 228, 0.5);
}

.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
    color: #000;
    background-color: #c3cbe4;
    border-color: #c3cbe4;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(195, 203, 228, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(195, 203, 228, 0.5);
}

.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
    color: #c3cbe4;
    background-color: transparent;
}

.btn-outline-success {
    color: #34c38f;
    border-color: #34c38f;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #34c38f;
    border-color: #34c38f;
}

.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(52, 195, 143, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(52, 195, 143, 0.5);
}

.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
    color: #fff;
    background-color: #34c38f;
    border-color: #34c38f;
}

.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(52, 195, 143, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(52, 195, 143, 0.5);
}

.btn-outline-success:disabled,
.btn-outline-success.disabled {
    color: #34c38f;
    background-color: transparent;
}

.btn-outline-info {
    color: #50a5f1;
    border-color: #50a5f1;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #50a5f1;
    border-color: #50a5f1;
}

.btn-check:focus + .btn-outline-info,
.btn-outline-info:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(80, 165, 241, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(80, 165, 241, 0.5);
}

.btn-check:checked + .btn-outline-info,
.btn-check:active + .btn-outline-info,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.dropdown-toggle.show {
    color: #fff;
    background-color: #50a5f1;
    border-color: #50a5f1;
}

.btn-check:checked + .btn-outline-info:focus,
.btn-check:active + .btn-outline-info:focus,
.btn-outline-info:active:focus,
.btn-outline-info.active:focus,
.btn-outline-info.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(80, 165, 241, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(80, 165, 241, 0.5);
}

.btn-outline-info:disabled,
.btn-outline-info.disabled {
    color: #50a5f1;
    background-color: transparent;
}

.btn-outline-warning {
    color: #f1b44c;
    border-color: #f1b44c;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #f1b44c;
    border-color: #f1b44c;
}

.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(241, 180, 76, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(241, 180, 76, 0.5);
}

.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show {
    color: #fff;
    background-color: #f1b44c;
    border-color: #f1b44c;
}

.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(241, 180, 76, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(241, 180, 76, 0.5);
}

.btn-outline-warning:disabled,
.btn-outline-warning.disabled {
    color: #f1b44c;
    background-color: transparent;
}

.btn-outline-danger {
    color: #f46a6a;
    border-color: #f46a6a;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #f46a6a;
    border-color: #f46a6a;
}

.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.5);
}

.btn-check:checked + .btn-outline-danger,
.btn-check:active + .btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.dropdown-toggle.show {
    color: #fff;
    background-color: #f46a6a;
    border-color: #f46a6a;
}

.btn-check:checked + .btn-outline-danger:focus,
.btn-check:active + .btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.btn-outline-danger.active:focus,
.btn-outline-danger.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.5);
}

.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
    color: #f46a6a;
    background-color: transparent;
}

.btn-outline-pink {
    color: #e83e8c;
    border-color: #e83e8c;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.btn-check:focus + .btn-outline-pink,
.btn-outline-pink:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(232, 62, 140, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(232, 62, 140, 0.5);
}

.btn-check:checked + .btn-outline-pink,
.btn-check:active + .btn-outline-pink,
.btn-outline-pink:active,
.btn-outline-pink.active,
.btn-outline-pink.dropdown-toggle.show {
    color: #fff;
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.btn-check:checked + .btn-outline-pink:focus,
.btn-check:active + .btn-outline-pink:focus,
.btn-outline-pink:active:focus,
.btn-outline-pink.active:focus,
.btn-outline-pink.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(232, 62, 140, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(232, 62, 140, 0.5);
}

.btn-outline-pink:disabled,
.btn-outline-pink.disabled {
    color: #e83e8c;
    background-color: transparent;
}

.btn-outline-light {
    color: #32394e;
    border-color: #32394e;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #32394e;
    border-color: #32394e;
}

.btn-check:focus + .btn-outline-light,
.btn-outline-light:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(50, 57, 78, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(50, 57, 78, 0.5);
}

.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
    color: #fff;
    background-color: #32394e;
    border-color: #32394e;
}

.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus,
.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(50, 57, 78, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(50, 57, 78, 0.5);
}

.btn-outline-light:disabled,
.btn-outline-light.disabled {
    color: #32394e;
    background-color: transparent;
}

.btn-outline-dark {
    color: #eff2f7;
    border-color: #eff2f7;
}

.btn-outline-dark:hover {
    color: #000;
    background-color: #eff2f7;
    border-color: #eff2f7;
}

.btn-check:focus + .btn-outline-dark,
.btn-outline-dark:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(239, 242, 247, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(239, 242, 247, 0.5);
}

.btn-check:checked + .btn-outline-dark,
.btn-check:active + .btn-outline-dark,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show {
    color: #000;
    background-color: #eff2f7;
    border-color: #eff2f7;
}

.btn-check:checked + .btn-outline-dark:focus,
.btn-check:active + .btn-outline-dark:focus,
.btn-outline-dark:active:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(239, 242, 247, 0.5);
    box-shadow: 0 0 0 0.15rem rgba(239, 242, 247, 0.5);
}

.btn-outline-dark:disabled,
.btn-outline-dark.disabled {
    color: #eff2f7;
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: #556ee6;
    text-decoration: none;
}

.btn-link:hover {
    color: #4458b8;
    text-decoration: underline;
}

.btn-link:focus {
    text-decoration: underline;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #c3cbe4;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.01563rem;
    border-radius: 0.4rem;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.71094rem;
    border-radius: 0.2rem;
}
